/********** Default Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
    font-family:'sans-serif';
    margin-bottom: 15px;
    text-align: center;
    font-size:1.75em;
}
.row {
    width: 100%;
}
.h_gen{
    font-size:1.25em;
}
.section1, .section2, .section3{
    margin:1%;
    position:relative;
    float:left;
    width:98%;
    border:1px solid black;
    height:200px;
    overflow:auto;
    background-color: #bbbbbb;
    font-family:'sans-serif';
}
.header1, .header2, .header3{
    position:absolute;
    top:0px;
    right:0px;
    height:26px;
    padding:2px 20px;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    font-size: 1.25em;
    border-bottom:1px solid black;    
    border-left:1px solid black;
}
.header1{
    background-color:#d59898;
}
.header2{
    background-color:#c14543;
    color:#ffffff;
}
.header3{
    background-color:#e5d198;
}
.text{
    position:absolute;
    padding:1% 3%;
    left:0px;
    top:26px;
}


/********** Desktop **********/
@media (min-width: 992px) {
    .section1, .section2, .section3{
        margin:1.1%;
        width:31%; 
    }
}
/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
    .section1{
        margin:1%;
        width:48%; 
    }  
    .section2{
        margin:1%;
        width:48%; 
    }  
    .section3{
        margin:1%;
        width:98%; 
    }      
}