/*--Header start---*/
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-nav {
    margin-bottom: 0;
}
#nav-list {
  margin-top: 0px;
}
#nav-list li:first-child{
    border-top:1px solid #777777;    
}
#nav-list li:nth-child(1), #nav-list li:nth-child(2){
    border-bottom:1px solid #777777;    
}
#nav-list a {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    text-align: center;
    color:#000;
    font-weight: bold;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #888888;
}
/*--Header end---*/
.separator{
    clear:both;
    border-top: 1px solid #888888;
    margin:0;
}
.menu-it{
    background-color: #dddddd;
}
.menu-it > h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 1.3em;
}
#main-content{
    clear:both;
    margin:0 15px;
}
#header-nav{
    margin:0 0px;
}
/********** Mobile **********/
@media (max-width: 992px) {

        
}